body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://wallpaperaccess.com/full/2825826.gif');  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    font-size: 120%;
    
}

.card {
    background: #0e000ed0;    
    color: rgb(251, 255, 255);
    padding: 2.5em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    background: transparent;
    backdrop-filter: blur(50px);
}

.city {
    margin-bottom: 1em;
    font-size: 40px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background: #3838382b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    background: #b8b8b82b;
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% - 100px);
}

button:hover {
    background: #8585856b;
}

h1.temp {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.4em;
    color: #fff;    
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}


